.env


#NESSE ARQUIVO VOCÊ DEVE PASSAR TUDO QUE VOCÊ NÃO QUER SEJA AFETADO PELO PUSH (COMMIT)

#+---------+
#| EXEMPLO |
#+---------+

# O ARQUIVO .ENV É PARA VOCÊ SETAR AS VARIÁVEIS AMBIENTES QUE IRÃO PERMITIR QUE VOCÊ ACESSE O BANCO DE DADOS, PORTANTO
# FAZ-SE NECESSÁRIO QUE CADA UM POSSUA O SEU E NÃO FIQUE COMPARTILHANDO 

#AO PASSAR O TODO ARQUIVO QUE POSSUA EXTENSÃO .env ELE OS IGNORA NO PROCESSO DE COMMIT, MAS VOU MANTÊ-LO COMO COMENTÁRIO PARA QUE TODOS O RECEBAM

